@{
    ViewBag.Title = "State Tax Information";
}

<h3>@ViewBag.Message</h3>

<h4>Utah</h4>
<ul>
    <li>
        <a href="http://tax.utah.gov/selfreviews/photography/faq.pdf">Should I Pay Sales Tax?</a>
    </li>
    <li>
        <a href="http://tax.utah.gov/sales/rates">Current Sales Tax Rate</a>
    </li>
</ul>