@model MvcTODO.Models.TODOList

@{
  ViewBag.Title = "Add TODO";
}

<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script>
  $(function () {
    $('#click1').click(function (e) {
      var name = $("#txt1").val();

      $('#ListItems').
          append($("<option></option>").
          attr("value", name).
          text(name));

      $('#hiddensq').append("<input name='UserValues' type='hidden' value='" + name + "'/>");
    });
  });
</script>

<h1>Enter a List Information</h1>

@using (Html.BeginForm())
{
  <div id="hiddensq">
  </div>

  for (int i = 0; i < Model.ListItems.Count; i++)
  {
    @Html.Hidden("UserValues", Model.ListItems[i]);
  }
  <fieldset>
    <div>
      @Html.Label("List Name")
      @Html.TextBoxFor(model => model.Name)
    </div>
    <div>
     
    </div>
    <div>
      @Html.ListBoxFor(model => model.ListItems, new SelectList(Model.ListItems))
    </div>
    <div>
      <input type="text" id="txt1" />
      <input type="button" value="Add TODO Item" id="click1" />
    </div>

    <input type="submit" value="Create List" />
  </fieldset>

  
}