@model MvcTODO.Models.SelectedItems
@{
  ViewBag.Title = "Delete TODO";
}

<h1>Select a list to delete</h1>

@using (Html.BeginForm(@Model.SelectedIndexes))
{
  @Html.ListBoxFor(m => m.SelectedIndexes, new MultiSelectList(@Model.ListNames, "Name", "Name", @Model.SelectedIndexes))
    
  <input type="submit" value="Delete Selected" />
}